body{
    margin: 0px;
    padding: 3px;
}
.header{
    height: 80px;
    color: rgb(86, 138, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.header h1:hover{
    color: rgb(43, 228, 105);
    border-bottom: 1px solid rgb(212, 76, 76);
}
.header .navbar a{
    text-decoration: none;
    color: rgb(103, 197, 235);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px 4px;
}
.header .navbar a:hover{
    color: rgb(6, 155, 135);
    border-bottom: 1px solid rgb(164, 167, 2);
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: url("/hand-fire.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}
.contant{
    color: antiquewhite;
    text-align: center;
    margin: 20% 30%;
}